body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-size: cover;
    background-color: #121212;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-image: url("background.jpg");
}


.title-container {
    width: 30%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    width: min-content;
    font-size: 80px;
    font-weight: 700;
    -webkit-text-stroke: 3px rgb(230, 230, 230);
    background:  linear-gradient(#ffffff, #ffffff) left  no-repeat, #121212;
    background:  linear-gradient(#ffffff, #ffffff) left  no-repeat, transparent;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}

.title:hover { 
    background-size: 100% 100%;
}

.title.background-toggle {
    background-size: 100% 0%;
}

.title:hover.background-toggle { 
    background-size: 100% 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.component {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    transition: box-shadow 0.75s ease, transform 0.5s ease;
}

.component:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

.component h2 {
    font-size: 40px;
    grid-column: span 3;
    margin-top: 10px;
    margin-bottom: 25px;
}

.progress-circle {
    grid-column: span 1;
    width: 65px;
    height: 65px;
    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.outer {
    margin-left: 10px;
    width: 65px;
    height: 65px;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 3.5px 2px rgba(214, 214, 214, 0.8);
}

.circle-fill {
    fill: none;
    stroke-width: 7.5px;
    stroke: url(#GradientColor);
    stroke-dasharray: 242;
    stroke-dashoffset: 242;
}

.circle-fill-svg {
    top: 0;
    left: 0;
    position: absolute;
}

.inner {
    width: 65px;
    height: 65px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1.5px 2px rgba(196, 196, 196, 0.8);
}

.progress-percent {
    color: 555;
    margin-top: 1px;
    margin-left: 1px;
    font-weight: 600;
    font-size: 22.5px;
    transform: scale(1, 1.25);
}

.option-select,
.api-button {
    width: 100%;
    padding: 10px;
    grid-column: span 2;
}

.file-select {
    grid-column: span 2;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.file-select:hover {
    background-color: #6c757d;
    color: #fff;
}

.supported-formats {
    grid-column: span 4;
}

.api-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.api-button:hover {
    background-color: #0056b3;
}

.api-button[disabled] {
    background-color: #666;
    cursor: not-allowed;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }
    .component {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 860px) {
    .title {
        font-size: 60px;
    }
    .container {
        max-width: 600px;
        grid-template-columns: repeat(1, 1fr);
    }
    .component {
        grid-template-columns: repeat(1, 1fr);
    }
}
